asdasdasdas
<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
        <input
            type="text"
            class="form-control"
            placeholder="Search by name"
            required
            name
        />
        <div class="input-group-append">
            <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchBuilding()"
            >
            Search
            </button>
        </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>buildings List</h4>
        <ul class="list-group">
        <li
            class="list-group-item"
            *NgFor="let building of buildings; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveBuilding(building, i)"
        >
            {{ building.name }}
        </li>
        </ul>
    </div>
</div>