sadasd
<div>
    <div class="submit-form">
      <div *NgIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            building.name
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="addres">Address</label>
          <input
            class="form-control"
            id="addres"
            required
            building.addres
            name="addres"
          />
        </div>
  
        <button (click)="saveBuilding()" class="btn btn-success">Submit</button>
      </div>
  
      <div *NgIf="submitted">
        <h4>Building was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newBuilding()">Add</button>
      </div>
    </div>
  </div>